/*<meta />*/

.home-heading {
	text-align: center;
}


.home-container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:2rem;
}





.home-container__item {
    /* width: 300px; */
	flex-basis: 20rem;
    /* min-width: 10rem; */
    height: 140px;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
	transition: ease-in-out  .5s;
	-webkit-transition: ease-in-out  .3s;
}

.home-container__item:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .3);

}

.home-container__faq {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top:2rem;

}

.home-container__faq--item {
    /* width: 300px; */
	flex-basis: 100%;
    /* min-width: 10rem; */
    min-height:fit-content;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
	transition: ease-in-out  .5s;
	-webkit-transition: ease-in-out  .3s;
}

.home-container__faq--header


@media screen and (max-width: 1279px)
{
	


}
