/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: 'Roboto', sans-serif, Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

MadCap|relationshipsHeading.task
{
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #888888;
	margin-top: 10px;
}

MadCap|relationshipsProxy
{
	padding-left: 10px;
	text-decoration: none;
	margin-top: 0px;
	border: solid 1px #dddddd;
	padding-bottom: 10px;
	padding-top: 0px;
}

MadCap|relationshipsHeading
{
	font-weight: normal;
	font-size: 12pt;
}

MadCap|relationshipsHeading.reference
{
	font-weight: normal;
	font-size: 1rem;
	color: #888888;
	line-height: 1.5rem;
	margin-top: 10px;
}

MadCap|relationshipsHeading.concept
{
	font-weight: normal;
	color: #888888;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 10px;
}

MadCap|relationshipsItem
{
	font-size: 1rem;
	text-decoration: none;
	color: #3a73e3;
	margin-left: 15px;
}

/*====================================================================
	Changes to Madcap Flare styles
*/

.body-container
{
	padding-top: 0;
}

MadCap|breadcrumbsProxy
{
	background: #ffffff;
	padding-top: 0.5rem;
	font-size: 9pt;
	color: #a9a9a9;
	border-bottom-color: #ddd;
}

a.MCBreadcrumbsLink
{
	text-decoration: none;
	color: #3a73e3;
}

ul.menu.mc-component
{
	width: 100%;
	border-top: solid 1px #ddd;
}

ul.menu.mc-component ul > li > a
{
	padding-left: 0;
	padding-top: 5px;
}

ul.menu.mc-component ul ul > li > a
{
	padding-left: 15px;
}

div.MCRelationshipsProxy_0 a
{
	color: #3a73e3;
	cursor: pointer;
	text-decoration: none;
}

div.MCRelationshipsProxy_0 a:visited
{
	color: #004276;
}

div.MCRelationshipsProxy_0 a:hover
{
	color: #f9951d;
}

ul.menu.mc-component li > a.selected
{
	color: #f9951d;
	font-weight: normal;
}

ul.menu.mc-component li > a.selected:hover
{
	font-weight: normal;
}

.title-bar-container
{
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
}

.buttons.mc-component
{
	border-top: 1px solid #ddd;
	padding: 3rem 0rem;
	display: flex;
	justify-content: center;
}

.mc-component .button.previous-topic-button:after
{
	content: "Previous article";
	position: relative;
	top: 3rem;
	min-width: 10rem;
	height: 3rem;
	left: -3rem;
	font-size: 1rem;
	/* text-align: center; */
	display: inline-block;
}

.mc-component .button.next-topic-button:after
{
	content: "Next article";
	position: relative;
	top: 3rem;
	min-width: 10rem;
	height: 3rem;
	left: -3rem;
	font-size: 1rem;
	/* text-align: center; */
	display: inline-block;
}

.mc-component .button.next-topic-button
{
	background: url('../images/icons/right-arrow-green.png') center center no-repeat !important;
	transition: all .1s ease;
}

.mc-component .button.previous-topic-button
{
	background: url('../images/icons/left-arrow-green.png') center center no-repeat !important;
	transition: all .1s ease;
}

.mc-component .button.previous-topic-button:hover
{
	background: url('../images/icons/left-arrow-white.png') center center no-repeat !important;
	background-color: #f9951d !important;
}

.mc-component .button.next-topic-button:hover
{
	background: url('../images/icons/right-arrow-white.png') center center no-repeat !important;
	background-color: #f9951d !important;
}

.mc-component .button
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: solid 1px #61c4b6;
	border-right: solid 1px #61c4b6;
	border-bottom: solid 1px #61c4b6;
	border-left: solid 1px #61c4b6;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 3rem;
	height: 3rem;
	margin: 0 6rem;
}

.mc-component .button:hover
{
	border-top: solid 1px #f9951d !important;
	border-right: solid 1px #f9951d !important;
	border-bottom: solid 1px #f9951d !important;
	border-left: solid 1px #f9951d !important;
}

ul.navigation,
ul.navigation ul
{
	display: block;
}

/*====================================================================
	ReadyTech added styles
====================================================================*/

/*====================================================================
	Layout
*/

.grid-wrapper
{
	/* display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 100vh; */
	display: grid;
	grid-template-columns: 3.5fr 1fr;
	grid-column-gap: 1.5rem;
	min-height: 100vh;
}

.grid-wrapper__box1
{
	/* order:1;
	flex-basis:70%; */
	grid-row: 1;
	padding: 1rem 2rem 2rem 2rem;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .3);
	height: 100%;
	padding-bottom: 40rem;
}

.grid-wrapper__box2
{
	/* order:2;
	flex-basis:30%; */
	height: fit-content;
	margin-top: 2rem;
	position: sticky;
	top: 0;
}

.grid-wrapper__box2 .box2__headings
{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 7px;
	font-weight: bold;
	margin-bottom: 0;
}

.grid-wrapper__box2 .grid-wrapper__toc--web,
.rel-links,
.pdf-guides
{
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .3);
	margin-bottom: 2rem;
}

.grid-wrapper__toc--mobile
{
	display: none;
}

.grid-wrapper > div:nth-child(event)
{
	background-color: #eee;
}

/*====================================================================
	Components
*/

.rt-icon
{
	color: #004276;
	float: right;
	padding-right: 10px;
}

.note
{
	background-color: #4AAE93;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: block;
	font-size: 1.5rem;
	width: 100%;
}

.note > div
{
	background-color: white;
	margin-left: 5px;
	padding: 15px;
	border: 1px solid #dcdcdc;
	border-left: initial;
	color: #333;
}

.warning
{
	background-color: rgb(240, 32, 32);
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: block;
	font-size: 1rem;
	width: 100%;
}

.warning > div
{
	background-color: white;
	margin-left: 5px;
	padding: 15px;
	/* border-bottom: 1px solid #ddd; */
	border: 1px solid #dcdcdc;
	border-left: initial;
	color: #333;
}

.video
{
	width: 75%;
	margin: 1rem 0 2rem 0;
}

footer
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 35px;
	background-color: #dfdfdf;
	border-top: 1px solid #aaa;
	text-align: center;
	padding-top: .5rem;
}

/*====================================================================
	Article Formatting
*/

header h1
{
	color: #004276;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 1.5rem 0;
}

article h2
{
	color: #f9951d;
	font-weight: normal;
	font-size: 1.75rem;
	margin: 0 0 1.5rem 0;
	border-top: 1px solid #ddd;
	padding-top: 1.5rem;
}

article h3
{
	color: #000;
	font-size: 1.25rem;
	font-weight: bold;
}

article p
{
	margin-bottom: 1rem;
}

article ul
{
	margin-bottom: 1rem;
	line-height: 2rem;
}

article ol
{
	margin-bottom: 1rem;
	line-height: 2rem;
}

button
{
	border: solid 0px #000000;
}

/*====================================================================
	Mobile Formatting
*/

@media screen and (max-width: 1279px)
{
	.grid-wrapper
	{
		grid-template-columns: 1fr;
		grid-row-gap: 1.5rem;
		min-height: 100vh;
	}

	.grid-wrapper__box1
	{
		padding: 1rem 1rem 2rem 0rem;
		box-shadow: none;
		height: 100%;
	}

	.grid-wrapper__box2
	{
		height: fit-content;
		margin-bottom: 2rem;
	}

	.grid-wrapper__toc--web
	{
		display: none;
	}

	.grid-wrapper__toc--mobile
	{
		display: block;
		/* padding-top: 10px; */
		/* padding-left: 10px; */
		/* padding-bottom: 7px; */
		font-weight: bold;
		margin-bottom: 0;
	}

	.grid-wrapper__box2,
	.rel-links,
	.pdf-guides
	{
		box-shadow: none;
		margin-bottom: 2rem;
		border-bottom: 1 solid #ddd;
	}

	ul.menu.mc-component
	{
		border: 1px solid #ddd;
	}
}

