<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" style="mc-master-page: url('..\Resources\master_pages\topics.flmsp');">
    <head><title>[%=Heading.Level1%]</title>
        <link href="../Resources/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1>
            </h1>
            <MadCap:concept term="Admin Portal" />
            <MadCap:concept term="Events" />
        </header>
        <section>
            <article>
                <p>Delete this text and replace it with your own content.</p>
            </article>
        </section>
    </body>
</html>